[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]
autopep8 = "*"
black = "*"

[requires]
python_version = "3.11"
